html {
  background-color: #fffff2;
}

header {
  font-size: 2rem;
}

code {
  background-color: lightgrey;
}
#navbar {
  display: block;
  border: dotted;
  font-size: 2rem;
  min-width: 125px;
  position: fixed;
  }
  .nav-link, #nav-head {
    display: block;
  }
  .nav-link:visited {
    color: grey;
  }
  .nav-link:hover {
    color: black;
  }
#main-doc {
  position: absolute;
  margin-left: 150px;
  padding: 1rem;
  margin-bottom: 110px;
}
@media only screen and (max-width: 500px) {
  header, #navbar {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
  }
  #main-doc {
    padding: 2rem;
  }
}
